//
// Colors
// --------------------------------------------------

.bg-color-primary {
  background-color: @brand-primary;
}

.splash-header {
	background-color: @brand-primary;
	border-bottom: 1px solid darken(@brand-primary, 10%);
	height: 130px;
	margin-bottom: 20px;
	h1 {
	    float: left;
    	width: 300px;
    	margin: 0px;
		background: url("images/artwork.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		a {
			display: block;
			height: 74px;
			text-indent: -9999px;
		}
	}
}

