// Splash
// ------
.splash-info {
	color: @btn-primary-bg;
	a {
		color: @btn-primary-bg;
		&:hover {
			color: @btn-primary-bg;
		}
	}
}

// Navbar
// ------
.navbar .navbar-brand a {
    background: url('images/logo.svg') no-repeat scroll 0px 5px transparent;
    width: 130px !important;
}
