//
// Colors
// --------------------------------------------------

.bg-color-primary {
  	background-color: @brand-primary;
}
.bg-color-link {
  	background-color: @link-color;
}
.bg-color-button {
  	background-color: @btn-primary-bg;
}

.bg-gray-darker {
	background-color: @gray-darker;
}
.bg-gray-dark {
	background-color: @gray-dark;
}
.bg-gray {
	background-color: @gray;
}
.bg-gray-light {
	background-color: @gray-light;
}
.bg-gray-lighter {
	background-color: @gray-lighter;
}

.color-primary {
	color: @brand-primary;
}
.color-link {
	color: @link-color;
}
.color-button-primary {
	color: @btn-primary-bg;
}

// Loader
.loader {
	background-image: url('images/loading_sprite.gif');
}
.loader-large {
	height: 78px; width: 78px; background-position: -0px -1px;
}
.loader-medium {
	height: 28px; width: 28px; background-position: -77px -31px;
}
.loader-small {	
	height: 18px; width: 18px;	background-position: -82px -61px;
}


// Splash 
.splash-header {
	background-color: @brand-primary;
	border-bottom: 1px solid darken(@brand-primary, 10%);
	height: 130px;
	margin-bottom: 20px;
	h1 {
	    float: left;
    	width: 300px;
    	margin: 0px;
		background: url("images/artwork.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		a {
			display: block;
			height: 74px;
			text-indent: -9999px;
		}
	}
	.splash-info {
		font-size: 125%;
		font-weight: 300;
		margin-top: 6px;
	}
}

