//
// Colors
// --------------------------------------------------

.bg-color-primary {
  	background-color: @brand-primary;
}
.bg-color-link {
  	background-color: @link-color;
}
.bg-color-button {
  	background-color: @btn-primary-bg;
}

.bg-gray-darker {
	background-color: @gray-darker;
}
.bg-gray-dark {
	background-color: @gray-dark;
}
.bg-gray {
	background-color: @gray;
}
.bg-gray-light {
	background-color: @gray-light;
}
.bg-gray-lighter {
	background-color: @gray-lighter;
}

.color-primary {
	color: @brand-primary;
}
.color-secondary {
	color: @gray-dark;
}
.color-success {
	color: @brand-success;
}
.color-warning {
	color: @brand-warning;
}
.color-danger {
	color: @brand-danger;
}

.color-link {
	color: @link-color;
}
.color-button-primary {
	color: @btn-primary-bg;
}

.description {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

// Loader
.loader-background {
    background: none repeat scroll 0 0 white;
    bottom: 0;
    left: 0;
    margin: 0;
    min-height: 100px;
    opacity: 0.7;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}

.loader {
	background-image: url('images/loading_sprite.gif');
}
.loader-large {
	height: 78px; width: 78px; background-position: -0px -1px; margin: 10px auto;
}
.loader-medium {
	height: 28px; width: 28px; background-position: -77px -31px;
}
.loader-small {	
	height: 18px; width: 18px;	background-position: -82px -61px;
}

// Splash 
.splash-header {
	background-color: @brand-primary;
	border-bottom: 1px solid darken(@brand-primary, 10%);
	height: 80px;
	margin-top:-32px;
	// margin-bottom: 20px;
	h1 {
	    float: left;
    	width: 300px;
    	margin: 10px;
		background: url("images/logo.svg") no-repeat;
		background-size: 300px;
		a {
			display: block;
			height: 74px;
			text-indent: -9999px;
		}
	}
	.splash-info {
		font-size: 125%;
		font-weight: 300;
		margin-top: 6px;
	}
}
.splash-header-light {
	background-color: #ffffff;
	border-bottom: 1px solid @brand-primary;
	height: 80px;
	// margin-bottom: 20px;
	h1 {
	    float: left;
    	width: 300px;
    	margin: 0px;
		background: url("images/logo.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		a {
			display: block;
			height: 74px;
			text-indent: -9999px;
		}
	}
	.splash-info {
		font-size: 125%;
		font-weight: 300;
		margin-top: 6px;
	}
}

// Header
.content-header {
	background-color: @gray-lighter;
	padding: 10px 0;
	margin: 31px 0 0 0;  /* compensate for the navbar */
	border-bottom: 1px solid darken(@gray-lighter, 7%);
}

// Content
.content-body {
	margin-top: 10px;
}

// Navbar
.navbar {
	.navbar-brand {
		padding-top: 0px;
		padding-bottom: 0px;

	  	@media (max-width: @screen-sm-min) {
	  		float: none;
	    	width: 140px;
	    	margin: 0 auto !important;
	  	}
	  	a {
		    display: block;
		    height: 30px;
		    text-indent: -9999px;
		    margin-left: 0px !important;
		    margin-right: -2px;

		    width: 25px; 
		  	@media (max-width: @screen-sm-min) {
		    	width: 120px;
		  	}

	  	}
	}
	// a {
	// 	.has-fa {padding: 3px 6px 4px 6px !important;}
	// }
	.fa {font-size: 16px; vertical-align: middle;}

}
.has-fa {padding: 4px 7px 6px 7px !important;}
// .nav {
// 	li {
// 		a {
// 			.has-fa {padding: 3px 6px;}
// 		}
// 	}
// }
// .has-fa {padding: 3px 6px;}


// .navbar .navbar-brand a {
//     display: block;
//     height: 30px;
//     text-indent: -9999px;
//     margin-left: 0px !important;
//     margin-right: -2px;

//     width: 25px; 
//   	@media (max-width: @screen-sm-min) {
//     	width: 120px;
//   	}
// }
.navbar-nav.navbar-right:last-child { margin-right: 0 !important; }
// .navbar a.has-fa {padding: 3px 6px;}
// .navbar .fa {font-size: 20px; vertical-align: middle;}
 

.nav-centered {
	text-align: center;
	li {
		float: none; display: inline-block;
	}
}

.navbar-filter
{
    background-color: @brand-lightest;
    border: 1px solid @brand-lighter;
    padding: 2px;
    margin: 0;
    /*min-height: 32px;*/
	.form-control-static {
	    padding: 2px 8px;
	    min-height: 0;
	}    
	.navbar-collapse {
		ul {
			margin:0;
		}
		@media(min-width:768px){
			padding:0;
		}
	}
}
// .navbar-filter .form-control-static {
//     padding: 2px 8px;
//     min-height: 0;
// }

// Drop down
.dropdown-menu-header {
	border-bottom: 1px solid @dropdown-divider-bg;
}
.dropdown-menu-item {
    padding: 3px 10px;
    border-bottom: 1px solid @dropdown-divider-bg;
    color: @dropdown-link-color;
    min-width: 480px;
    &:hover {
	    text-decoration: none;
	    color: @dropdown-link-hover-color;
	    background-color: @dropdown-link-hover-bg;
    }
    div {
    	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
    	a {
    		// color: @dropdown-link-color;
    		font-weight: bold;
    	}
    }
}
// .dropdown-menu-item div {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
// .dropdown-menu-item div a {font-weight: bold;}
.dropdown-menu-footer {
	padding-top: 3px;
}
// .dropdown-menu-item:hover {
//     color: #5e5e5e;
//     background-color: #f5f5f5;
// }

// Media
// Must be done for dropdowns covering the media object (e.g. company page)
.media, .media-body {overflow: visible;}

// Lists
dl.dl-horizontal dd.separator {height: 5px; margin:2px 0; border-bottom: 1px solid @brand-lighter;}

// Forms
input.form-control.required {
	background-position: right 2px !important;
}

.form-control.select2-container  {
	padding: 0 !important;	
}
.form-control.select2-container .select2-choice {
	height: 27px !important;
	// border: none;
	border: 1px solid transparent !important;
	// padding-left: 6px;
}
.form-control.select2-container-active .select2-choice {
	outline: 0 none;
	border: 1px solid #66afe9 !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control .select2-container-disabled .select2-choice {
    background-color: @input-bg-disabled;
    border: 1px solid @input-border;
}


// Panel 
.panel {
	opacity: 0.9;
}

// Page components
.page-title {
	border-bottom: 1px solid @brand-lighter;
	background-color: @body-bg;
	// opacity: 0.9;
}
.page-block {
	margin: 10px 0;
}
.page-subtitle {
	background-color: @brand-lightest; border-bottom: 1px solid @brand-lighter; 
	height: (floor(@font-size-small) + (@padding-small-vertical * 2));
  // height: (floor(@font-size * @line-height) + (@padding-vertical * 2) + 2);   // Fix web-kit
}

.page-heading {
	.media-heading {
        .btn-group {
        	margin-top: -5px;
        }
    }
}


/* Option button for pencil, etc.. */
.btn-option {
    font-size: 15px;
    height: 24px; width: 24px;
    padding: 0;
    background-color: @body-bg;
    color: @gray-dark;
    border-color: @body-bg;
}
.btn-option:hover {
    color: @gray-darker;
    border-color: @brand-lighter;
}

/* Blocks */
.block-header {
    background-color: @brand-lightest;
    border: 1px solid @brand-lighter;
    margin-bottom: 10px;
    padding: 1px 5px;
}
.block-footer {
	margin-bottom: 20px;
}

/* image thumbs */
img.thumb-large {border: 1px solid @brand-lighter; padding: 0;width: 120px;height: 120px;}
img.thumb-medium {border: 1px solid @brand-lighter; padding: 0;width: 90px;height: 90px;}
img.thumb-small {border: 1px solid @brand-lighter; padding: 0; width: 60px;height: 60px;}
img.thumb-tiny {border: 1px solid @brand-lighter; padding: 0;width: 40px;height: 40px;}

// Signup 
.signup .signup-container {min-height: 430px;}
.signup .signup-image-container {margin: 20px auto; max-width: 500px;}

// Table
.table-clean {width: 100%;}
.table-clean tr.table-header td {padding-top:10px;}

tr.table-header td {padding-top:10px;}


// Section
.section {
	// margin: 10px 0;
	.section-header {
	    height: 28px;
	    .h1, .h2, .h3, .h4 {
		    vertical-align: bottom;
		    margin: 0
	    }
	}
	.section-navigation {
		.navbar {
			@media(min-width:768px){	
				min-height: 34px
			}
		}
	}
}

// Card
.card {
	margin: 10px 0 20px;
	.card-header {
	    border-bottom: 1px solid @brand-lighter;
	    margin-bottom: 5px;
	    height: 28px;
	    .h1, .h2, .h3, .h4 {
		    vertical-align: bottom;
		    margin: 0
	    }
	}
	.card-separator {
		height: 5px; 
		border-bottom: 1px solid @brand-lighter;
	}
	.card-footer {

	}
}

// form
.form {
    .form-header {
        border-bottom: 1px solid @brand-lighter;
        margin-bottom: 5px;;
        height: 28px;
	    .h1, .h2, .h3, .h4 {
		    vertical-align: bottom;
		    margin: 0
	    }
    }
    .form-separator {
        border-bottom: 1px solid @brand-lighter;
        margin-bottom: 10px;
    }
}

// Tabbar
.tab-bar {
	border-bottom: 1px solid @brand-lighter;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

// Show/Hide bar
.show-hide-bar {
    background-color: @brand-lightest;
    border: 1px solid @brand-lighter;
    margin: 0 0 10px 0;

    &:hover {
	    background-color: @brand-lighter;
	    border: 1px solid @brand-light;
    }
	.btn {
	    padding: 1px;
	    font-weight: normal;
	    height: 22px;
	}
}




